<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <!-- <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div> -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :change_your_password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control lip", placeholder: "New Password, #{@minimum_password_length} Characters Minimum" %>
  </div>

  <div class="form-group"> 
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Type New Password Again", class: "form-control lip" %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Type in Your Current Password to Confirm", class: "form-control lip" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-info" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Feel like it's time to go? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Back", :back %>
